.a {
    color: #FFFFFF;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: rgba(245, 245, 255, 0.35) 0 0px 0px, rgba(0, 0, 30, 0.08) 0px 2px 2px, rgba(0, 0, 30, 0.20) 0px 2px 1px, rgba(0, 0, 30, 0.40) 0px 2px 1px, rgba(0, 0, 0, 0.08) -5px 5px 2px;
    font-weight: lighter;
    font-size: 33px;
    word-spacing: 5px;
    line-height: 1.5em;
}

#wrapper1 {
  font-size: 14px;
    border-width: 1px;
    border-radius: 0px;
    background: #333;
	background: rgba(51, 51, 51, 0.1);
	border: 0;
    border-color: #ddd;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -50px; /* the bottom margin is the negative value of the footer's total height */
}

#wrapper1:after {
  content: "";
  border-color: #ddd;
  display: block;
  height: 50px; /* the footer's total height */
}

#content1 {
  height: 100%;
}
